In [6]:
#Importo las librerías que voy a usar a lo largo del ejercicio:
import pandas as pd
# -----------------------------------------------------------------------
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
#import matplotlib.pyplot as plt
#import seaborn as sns

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats

from scipy.stats import shapiro, levene, mannwhitneyu
from scipy.stats import ttest_ind, norm, chi2_contingency

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

In [7]:
df= pd.read_csv("finanzas-hotel-bookings.csv")

In [8]:
df.head(7)

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
5,5,Resort Hotel,False,14.0,NaN,July,27.0,1.0,0.0,2.0,2.0,NaN,0.0,BB,GBR,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,NaN,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
6,6,Resort Hotel,False,0.0,2015.0,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Direct,Direct,0.0,NaN,0.0,C,C,0.0,NaN,NaN,0.0,NaN,107.0,0.0,0.0,Check-Out,2015-07-03 00:00:00,NaN

In [9]:
df["Unnamed: 0"].value_counts()

Unnamed: 0
0         1
121933    1
121913    1
121914    1
121915    1
         ..
60961     1
60962     1
60963     1
60964     1
182876    1
Name: count, Length: 182877, dtype: int64

In [10]:
#Con info me hace un pequeño resumen del df: columnas, tipos de datos, no nulos,...
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182877 entries, 0 to 182876
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      182877 non-null  int64
 1   hotel                           119390 non-null  object
 2   is_canceled                     119390 non-null  object
 3   lead_time                       119490 non-null  float64
 4   arrival_date_year               64829 non-null   float64
 5   arrival_date_month              119390 non-null  object
 6   arrival_date_week_number        101004 non-null  float64
 7   arrival_date_day_of_month       119271 non-null  float64
 8   stays_in_weekend_nights         119490 non-null  float64
 9   stays_in_week_nights            119490 non-null  float64
 10  adults                          119428 non-null  float64
 11  children                        69302 non-null   float64
 12  babies                          119431 non-null  float64
 13  meal                            119390 non-null  object
 14  country                         65054 non-null   object
 15  market_segment                  59934 non-null   object
 16  distribution_channel            105899 non-null  object
 17  is_repeated_guest               114376 non-null  float64
 18  previous_cancellations          76228 non-null   float64
 19  previous_bookings_not_canceled  119390 non-null  float64
 20  reserved_room_type              79275 non-null   object
 21  assigned_room_type              119390 non-null  object
 22  booking_changes                 119418 non-null  float64
 23  agent                           103050 non-null  float64
 24  company                         3870 non-null    float64
 25  days_in_waiting_list            119390 non-null  float64
 26  customer_type                   94199 non-null   object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  float64
 29  total_of_special_requests       119390 non-null  float64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         106514 non-null  object
 32  0                               42951 non-null   object
dtypes: float64(19), int64(1), object(13)
memory usage: 46.0+ MB

In [11]:
def revision_inicial(dataframe):
    """" ""
    Esta función realiza un análisis exploratorio básico de un DataFrame, mostrando información sobre sus nombres de columnas,
    tamaño general, duplicados, valores nulos, tipos de datos, y estadísticas descriptivas para columnas categóricas y numéricas. 
    """
    
    print(f"Este dataframe cuenta con los siguientes nombres de columnas: \n{dataframe.columns}") 
    """Miro el nombre de las columnas"""

    print("-----\n")
    print(f"Los tipos de datos de sus columnas son:")
    display(pd.DataFrame(dataframe.dtypes, columns = ["Tipo_de_dato"]))

    """Con dtypes miro qué tipo de dato tiene cada columna"""

    print(f"Cuenta con {dataframe.shape[0]} FILAS, y {dataframe.shape[1]} COLUMNAS.")
    """Shape me devuelve una tupla con el numero de filas [0] y columnas [1]"""
    print("-----\n")

    print(f"Estos son los estadísticos de sus columnas numéricas:")
    display(dataframe.describe().T )
    """Con describe veo valores estadísticos de las columnas numéricas como la media, la mediana, la desv. estándar, o el mínimo entre otros."""
    try:
        print("Estos son los estadísticos de sus columnas categóricas:")
        display(dataframe.describe(include="O").T )
        for col in dataframe:
            print(f"La columa {col.upper()} tiene los siguientes valores únicos:\n {dataframe[col].unique()}")

        """Con describe include o de object, busco solo los estadísticos de las columnas categoricas, como sus valores únicos, las frecuencias de estos o cuál es el que más se repite por columna."""
    
    except:
        """Manejo esta excepción porque uno de los dataframes no tiene columnas categóricas."""
        print("NO tiene columnas categóricas.")
    
    print("-----\n")
    print(f"Cuenta con este total de nulos en cada columna:")
    display(pd.DataFrame(dataframe.isnull().sum(), columns= ["Nulos"]))
    
    porcentaje_null= (dataframe.isnull().sum()/df.shape[0]) *100 #hago el cálculo
    nulos_df= pd.DataFrame(porcentaje_null.round(2), columns = ["Nulos_Porcentaje"]) #convierto a dataframe y redondeo las cifras
    display(nulos_df[nulos_df["Nulos_Porcentaje"]>0]) #filtro para que solo me muestre las columnas con más de cero nulos.
    
    print("-----\n")
    print(f"El numero total de DUPLICADOS es: {dataframe.duplicated().sum()}.")

In [12]:
revision_inicial(df)

Este dataframe cuenta con los siguientes nombres de columnas:
Index(['Unnamed: 0', 'hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', '0'],
      dtype='object')
-----

Los tipos de datos de sus columnas son:

                               Tipo_de_dato
Unnamed: 0                            int64
hotel                                object
is_canceled                          object
lead_time                           float64
arrival_date_year                   float64
arrival_date_month                   object
arrival_date_week_number            float64
arrival_date_day_of_month           float64
stays_in_weekend_nights             float64
stays_in_week_nights                float64
adults                              float64
children                            float64
babies                              float64
meal                                 object
country                              object
market_segment                       object
distribution_channel                 object
is_repeated_guest                   float64
previous_cancellations              float64
previous_bookings_not_canceled      float64
reserved_room_type                   object
assigned_room_type                   object
booking_changes                     float64
agent                               float64
company                             float64
days_in_waiting_list                float64
customer_type                        object
adr                                 float64
required_car_parking_spaces         float64
total_of_special_requests           float64
reservation_status                   object
reservation_status_date              object
0                                    object

Cuenta con 182877 FILAS, y 33 COLUMNAS.
-----

Estos son los estadísticos de sus columnas numéricas:

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,182877.0,91438.000000,52792.186927,0.00,45719.00,91438.000,137157.0,182876.000000
lead_time,119490.0,104.172628,106.975949,0.00,18.00,69.000,161.0,737.000000
arrival_date_year,64829.0,2016.156196,0.706674,2015.00,2016.00,2016.000,2017.0,2017.000000
arrival_date_week_number,101004.0,27.175785,13.613871,1.00,16.00,28.000,38.0,53.000000
arrival_date_day_of_month,119271.0,15.795977,8.780503,1.00,8.00,16.000,23.0,31.000000
stays_in_weekend_nights,119490.0,0.939461,1.082472,0.00,0.00,1.000,2.0,19.914715
stays_in_week_nights,119490.0,2.515068,1.976511,0.00,1.00,2.000,3.0,50.000000
adults,119428.0,6.244423,14.574814,0.00,2.00,2.000,2.0,59.000000
children,69302.0,0.125162,0.688305,0.00,0.00,0.000,0.0,19.000000
babies,119431.0,0.019903,0.433366,0.00,0.00,0.000,0.0,19.000000
is_repeated_guest,114376.0,0.031877,0.175674,0.00,0.00,0.000,0.0,1.000000
previous_cancellations,76228.0,0.109317,1.028093,0.00,0.00,0.000,0.0,26.000000
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.000000
booking_changes,119418.0,0.232737,0.770795,0.00,0.00,0.000,0.0,21.000000
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.000000
company,3870.0,188.828424,131.473039,6.00,62.00,178.000,270.0,543.000000
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.000000
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.000000
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.000000
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.000000

Estos son los estadísticos de sus columnas categóricas:

                          count unique                  top   freq
hotel                    119390      2           City Hotel  79330
is_canceled              119390      2                False  75166
arrival_date_month       119390     15               August  13877
meal                     119390      5                   BB  92310
country                   65054    163                  PRT  26577
market_segment            59934      8            Online TA  28331
distribution_channel     105899      5                TA/TO  86822
reserved_room_type        79275     10                    A  57202
assigned_room_type       119390     12                    A  74053
customer_type             94199      4            Transient  70610
reservation_status       119390      3            Check-Out  75166
reservation_status_date  106514    991  2015-10-21 00:00:00   1298
0                         42951   1588                  0.0  12780

La columa UNNAMED: 0 tiene los siguientes valores únicos:
 [     0      1      2 ... 182874 182875 182876]
La columa HOTEL tiene los siguientes valores únicos:
 ['Resort Hotel' 'City Hotel' nan]
La columa IS_CANCELED tiene los siguientes valores únicos:
 [False True nan]
La columa LEAD_TIME tiene los siguientes valores únicos:
 [342.         737.           7.          13.          14.
   0.           9.          85.          75.          23.
  35.          68.          18.          37.          12.
  72.         127.          78.          48.          60.
  77.          99.         118.          95.          96.
  69.          45.          40.          15.          36.
  43.          70.          16.         107.          47.
 113.          90.          50.          93.          76.
   3.           1.          10.           5.          17.
  51.          71.          63.          62.         101.
   2.          81.         368.         364.         324.
  79.          21.         109.         102.           4.
  98.          92.          26.          73.         115.
  86.          52.          29.          30.          33.
  32.           8.         100.          44.          80.
  97.          64.          39.          34.          27.
  82.          94.         110.         111.          84.
  66.         104.          28.         258.         112.
  65.          67.          55.          88.          54.
 292.          83.         105.         280.         394.
  24.         103.         366.         249.          22.
  91.          11.         108.         106.          31.
  87.          41.         304.         117.          59.
  53.          58.         116.          42.         321.
  38.          56.          49.         317.           6.
  57.          19.          25.         315.         123.
  46.          89.          61.         312.         299.
 130.          74.         298.         119.          20.
 286.         136.         129.         124.         327.
 131.         460.         140.         114.         139.
 122.         137.         126.         120.         128.
 135.         150.         143.         151.         132.
 125.         157.         147.         138.         156.
 164.         346.         159.         160.         161.
 333.         381.         149.         154.         297.
 163.         314.         155.         323.         340.
 356.         142.         328.         144.         336.
 248.         302.         175.         344.         382.
 146.         170.         166.         338.         167.
 310.         148.         165.         172.         171.
 145.         121.         178.         305.         173.
 152.         354.         347.         158.         185.
 349.         183.         352.         177.         200.
 192.         361.         207.         174.         330.
 134.         350.         334.         283.         153.
 197.         133.         241.         193.         235.
 194.         261.         260.         216.         169.
 209.         238.         215.         141.         189.
 187.         223.         284.         214.         202.
 211.         168.         230.         203.         188.
 232.         709.         219.         162.         196.
 190.         259.         228.         176.         250.
 201.         186.         199.         180.         206.
 205.         224.         222.         182.         210.
 275.         212.         229.         218.         208.
 191.         181.         179.         246.         255.
 226.         288.         253.         252.         262.
 236.         256.         234.         254.         468.
 213.         237.         198.         195.         239.
 263.         265.         274.         217.         220.
 307.         221.         233.         257.         227.
 276.         225.         264.         311.         277.
 204.         290.         266.         270.         294.
 319.         282.         251.         322.         291.
 269.         240.         271.         184.         231.
 268.         247.         273.         300.         301.
 267.         244.         306.         293.         309.
 272.         242.         295.         285.         243.
 308.         398.         303.         245.         424.
 279.         331.         281.         339.         434.
 357.         325.         329.         278.         332.
 343.         345.         360.         348.         367.
 353.         373.         374.         406.         400.
 326.         379.         399.         316.         341.
 320.         385.         355.         363.         358.
 296.         422.         390.         335.         370.
 376.         375.         397.         289.         542.
 403.         383.         384.         359.         393.
 337.         362.         365.         435.         386.
 378.         313.         351.         287.         471.
 462.         411.         450.         318.         372.
 371.         454.         532.         445.         389.
 388.         407.         443.         437.         451.
 391.         405.         412.         419.         420.
 426.         433.         440.         429.         418.
 447.         461.         605.         457.         475.
 464.         482.         626.         489.         496.
 503.         510.         517.         524.         531.
 538.         545.         552.         559.         566.
 573.         580.         587.         594.         601.
 608.         615.         622.         629.         396.
 410.         395.         423.         408.         409.
 448.         465.         387.         414.         476.
 479.         467.         490.         493.         478.
 504.         507.         458.         518.         521.
 377.         444.         380.         463.                  nan
 285.39076115 259.60030847 350.5254671  249.23690056 299.65699934
 222.02695972 298.35427899 346.66602497 347.76226048 339.40496071
 389.53687271 393.76634805 314.16036762 364.89775035 243.92395582
 394.3326073  393.40409048 274.25884382 207.26954315 310.5315347
 359.47837238 345.20917849 274.32614895 233.01141762 283.95634896
 203.65774074 244.4893201  327.39561423 247.72927774 280.28619163
 212.58146219 328.71567405 301.36596307 376.13881065 302.28957214
 268.24918757 211.59656401 284.10926924 361.88118942 343.5797993
 342.43531996 218.07382512 307.99556211 248.15503379 251.83008506
 343.64511445 267.94208942 341.26263716 316.8363944  383.94695591
 370.66007781 279.53655462 240.79611889 267.53224844 303.49850729
 307.30733156 216.62247127 316.15969315 245.66191728 240.04322454
 209.0565627  210.76575543 343.70499547 339.46397195 231.66647278
 221.18266495 255.21461804 322.20411817 322.62570879 345.59373035
 221.07145716 271.31526381 250.65134985 380.53870139 328.15710619
 326.28348783 262.0556897  286.56448693 292.16087026 386.74807799
 352.16090681 354.05866877 396.20591467 319.62494547 238.03548168
 372.29442879 300.1189764  231.05953189 208.20350653 243.47154073
 390.30412923 222.7035657  325.95176372 295.61511521 231.48057469
 224.33776182 390.14196299 230.6898256  304.88853431 341.23816575]
La columa ARRIVAL_DATE_YEAR tiene los siguientes valores únicos:
 [2015.   nan 2016. 2017.]
La columa ARRIVAL_DATE_MONTH tiene los siguientes valores únicos:
 ['July' 'August' 'September' 'October' 'November' 'December' '1' 'January'
 'February' '2' '3' 'March' 'April' 'May' 'June' nan]
La columa ARRIVAL_DATE_WEEK_NUMBER tiene los siguientes valores únicos:
 [27. nan 28. 29. 30. 31. 32. 33. 34. 35. 36. 37. 38. 39. 40. 41. 42. 43.
 44. 45. 46. 47. 48. 49. 50. 51. 52. 53.  1.  2.  3.  4.  5.  6.  7.  8.
  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20. 21. 22. 23. 24. 25. 26.]
La columa ARRIVAL_DATE_DAY_OF_MONTH tiene los siguientes valores únicos:
 [ 1.  2. nan  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31.]
La columa STAYS_IN_WEEKEND_NIGHTS tiene los siguientes valores únicos:
 [ 0.          1.          2.          4.          3.          6.
 13.          8.          5.          7.         12.          9.
 16.         18.         19.         10.         14.                 nan
 11.20401583 17.95858865 18.2567912  10.54885853 16.33232084 13.84595175
 16.80862539 11.82216655 18.86586275 17.22279014 12.760956   10.15167042
 10.46332451 14.91338236 11.6042344  18.52118296 16.2922789  14.18553261
 10.80563048 17.90682685 17.9040439  19.91471478 12.23500486 14.48008431
 19.67205011 10.14955202 10.80069687 11.98937751 16.80689813 12.86282951
 18.44605745 16.43682263 10.12644249 14.57592838 11.39086752 13.20007294
 17.15627062 14.98305856 17.29938584 17.90252941 16.22831712 13.95515743
 15.32889675 17.35095681 13.22234578 11.90605506 19.25689048 17.43070043
 12.54926869 11.83209485 15.78722554 17.02492003 11.40315114 14.55697847
 14.00625777 11.05466249 13.16442302 10.23930362 15.23868679 18.42035621
 16.08335029 14.79242931 19.55663558 12.89803072 15.47483733 15.0633126
 12.40148587 18.77747638 13.81006175 13.68616815 18.01163962 16.98171814
 19.66962536 19.91294716 19.21393184 19.77626639 13.95243476 13.30834322
 17.17636146 18.03981923 19.36201984 16.06563272 10.48606185 14.66062143
 14.90806899 10.505497   19.71149087 11.09226823 15.81066934 15.42124553
 11.45834359 11.19386224 15.29596943 18.3330153  18.88063688 19.00554533
 14.75179365 11.4094959  16.74447183 17.79148624]
La columa STAYS_IN_WEEK_NIGHTS tiene los siguientes valores únicos:
 [ 0.          1.          2.          3.          4.          5.
 10.         11.          8.          6.          7.         15.
  9.         12.         33.         20.         14.         16.
 21.         13.         30.         19.         24.         40.
 22.         42.         50.         25.         17.         32.
 26.         18.         34.         35.         41.                 nan
 19.14830297 24.50966025 21.58885576 22.772459   20.60555587 24.45205723
 16.62253515 22.47691627 15.27680799 16.2457977  20.98164488 24.37392779
 21.64810509 21.17909591 17.0419185  18.32276451 21.13143014 18.82350032
 24.18439335 23.55385955 16.60470118 22.68332439 19.36190116 23.47612942
 24.32635726 15.50303327 15.25808408 20.83014979 19.2528658  18.55616571
 21.48292115 20.06245625 15.36403939 15.34203868 20.05995282 22.31063053
 24.05293551 20.91856079 15.22169575 23.48974235 23.44028526 18.00197875
 22.42915643 18.50696459 24.4810778  21.83467545 24.88002862 15.30164525
 18.95204764 23.18104145 22.20833114 24.9931465  16.43573722 16.32622714
 22.68288829 22.40222481 17.5501584  20.76482217 16.41646424 15.78203937
 16.7759765  22.8366592  15.95785505 20.72160006 23.71130964 23.3489699
 18.05678059 20.24069537 17.50126945 16.05933347 16.36136961 18.84068375
 22.06579599 18.44380122 15.08607001 19.82863777 19.97791209 23.54330633
 19.6876756  16.22485443 22.75531998 15.92103145 16.9229536  24.7785892
 17.9793042  23.53838486 24.87021062 21.67642284 22.18306775 19.92414067
 23.29122116 18.60063886 24.24605559 20.18132728 16.52346488 19.81982338
 19.98972562 20.46137184 15.4007731  24.44268952]
La columa ADULTS tiene los siguientes valores únicos:
 [ 2.  1. 51.  3. 52. 53. 55. 57. 54. 59.  4. 58. 56. 50. 26. 27.  0. 20.
  6.  5. 10. 16. 19. 11. 13. 15. 14. 12. 18. 17. nan]
La columa CHILDREN tiene los siguientes valores únicos:
 [nan  0.  1.  2. 10. 19.  3. 17. 11. 18. 13. 16. 14. 15. 12.]
La columa BABIES tiene los siguientes valores únicos:
 [ 0.  1. 18.  2. 17. 13. 15. 16. 12. 10. 11. 19.  9. 14. nan]
La columa MEAL tiene los siguientes valores únicos:
 ['BB' 'FB' 'HB' 'SC' 'Undefined' nan]
La columa COUNTRY tiene los siguientes valores únicos:
 ['PRT' nan 'GBR' 'USA' 'ESP' 'IRL' 'FRA' 'ROU' 'NOR' 'OMN' 'ARG' 'DEU'
 'CHE' 'GRC' 'NLD' 'DNK' 'RUS' 'POL' 'AUS' 'EST' 'CZE' 'BRA' 'BEL' 'CN'
 'SWE' 'FIN' 'MOZ' 'SVN' 'MAR' 'ITA' 'UKR' 'SMR' 'LVA' 'PRI' 'CHL' 'CHN'
 'LTU' 'LUX' 'AUT' 'TUR' 'MEX' 'ZAF' 'AGO' 'ISR' 'IND' 'CYM' 'ZMB' 'CPV'
 'ZWE' 'DZA' 'KOR' 'HUN' 'ARE' 'TUN' 'JAM' 'ALB' 'HRV' 'HKG' 'AND' 'GIB'
 'URY' 'BLR' 'JEY' 'CYP' 'MDV' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'COL'
 'SEN' 'GEO' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MYS' 'VEN' 'ARM' 'LKA' 'CUB'
 'CMR' 'IRN' 'BIH' 'NGA' 'COM' 'BGR' 'CIV' 'SRB' 'JOR' 'SYR' 'BDI' 'SGP'
 'KWT' 'PLW' 'QAT' 'SVK' 'SUR' 'MLT' 'MWI' 'MDG' 'ISL' 'JPN' 'CAF' 'TGO'
 'TWN' 'DJI' 'VNM' 'PER' 'EGY' 'SAU' 'KNA' 'ETH' 'ECU' 'IRQ' 'KHM' 'MCO'
 'BGD' 'TJK' 'NIC' 'GGY' 'BEN' 'VGB' 'CRI' 'TZA' 'GAB' 'MKD' 'TMP' 'GLP'
 'LIE' 'GNB' 'MAC' 'IMN' 'UMI' 'MYT' 'GHA' 'FRO' 'MMR' 'PAN' 'MUS' 'LBY'
 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'DMA' 'UGA' 'MNE' 'GTM' 'ASM' 'KEN'
 'NCL' 'STP' 'KIR' 'SDN' 'ATF' 'SLE' 'SLV' 'LAO']
La columa MARKET_SEGMENT tiene los siguientes valores únicos:
 [nan 'Corporate' 'Online TA' 'Direct' 'Offline TA/TO' 'Groups'
 'Complementary' 'Undefined' 'Aviation']
La columa DISTRIBUTION_CHANNEL tiene los siguientes valores únicos:
 ['Direct' 'Corporate' 'TA/TO' nan 'Undefined' 'GDS']
La columa IS_REPEATED_GUEST tiene los siguientes valores únicos:
 [ 0. nan  1.]
La columa PREVIOUS_CANCELLATIONS tiene los siguientes valores únicos:
 [nan  0. 14. 10. 19. 13. 17.  1.  2.  3. 26. 25.  4. 24. 12. 16.  5. 11.
 15. 18. 21.  6.]
La columa PREVIOUS_BOOKINGS_NOT_CANCELED tiene los siguientes valores únicos:
 [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 20. 21. 22. 23. 24. 25. 27. 28. 29. 30. 19. 26. 31. 32. 33. 34. 35.
 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53.
 54. 55. 56. 57. 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71.
 72. nan]
La columa RESERVED_ROOM_TYPE tiene los siguientes valores únicos:
 ['C' nan 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']
La columa ASSIGNED_ROOM_TYPE tiene los siguientes valores únicos:
 ['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K' nan]
La columa BOOKING_CHANGES tiene los siguientes valores únicos:
 [ 3.  4.  0.  1.  2.  5. 17. 18.  6. 14. 15. 10. 11.  8.  7. 16. 19. 12.
  9. 13. 20. 21. nan]
La columa AGENT tiene los siguientes valores únicos:
 [ nan 304. 240. 303.  15. 241.   8. 250. 115.   5. 175. 134. 156. 243.
 242.   3. 105.  40. 147. 306. 184.  96.   2. 127.  95. 146.   9. 177.
   6. 143. 244. 149. 167. 300. 171. 305.  67. 196. 152. 142. 261. 104.
  36.  26.  29. 258. 110.  71. 181.  88. 251. 275.  69. 248. 208. 256.
 314. 126. 281. 273. 253. 185. 330. 334. 328. 326. 321. 324. 313.  38.
 155.  68. 335. 308. 332.  94. 348. 310. 339. 375.  66. 327. 387. 298.
  91. 245. 385. 257. 393. 168. 405. 249. 315.  75. 128. 307.  11. 436.
   1. 201. 183. 223. 368. 336. 291. 464. 411. 481.  10. 154. 468. 410.
 390. 440. 495. 492. 493. 434.  57. 531. 420. 483. 526. 472. 429.  16.
 446.  34.  78. 139. 252. 270.  47. 114. 301. 193. 182. 135. 350. 195.
 352. 355. 159. 363. 384. 360. 331. 367.  64. 406. 163. 414. 333. 427.
 431. 430. 426. 438. 433. 418. 441. 282. 432.  72. 450. 180. 454. 455.
  59. 451. 254. 358. 469. 165. 467. 510. 337. 476. 502. 527. 479. 508.
 535. 302. 497. 187.  13.   7.  27.  14.  22.  17.  28.  42.  20.  19.
  45.  37.  61.  39.  21.  24.  41.  50.  30.  54.  52.  12.  44.  31.
  83.  32.  63.  60.  55.  56.  89.  87. 118.  86.  85. 210. 214. 129.
 179. 138. 174. 170. 153.  93. 151. 119.  35. 173.  58.  53. 133.  79.
 235. 192. 191. 236. 162. 215. 157. 287. 132. 234.  98.  77. 103. 107.
 262. 220. 121. 205. 378.  23. 296. 290. 229.  33. 286. 276. 425. 484.
 323. 403. 219. 394. 509. 111. 423.   4.  70.  82.  81.  74.  92.  99.
  90. 112. 117. 106. 148. 158. 144. 211. 213. 216. 232. 150. 267. 227.
 247. 278. 280. 285. 289. 269. 295. 265. 288. 122. 294. 325. 341. 344.
 346. 359. 283. 364. 370. 371.  25. 141. 391. 397. 416. 404. 299. 197.
  73. 354. 444. 408. 461. 388. 453. 459. 474. 475. 480. 449.]
La columa COMPANY tiene los siguientes valores únicos:
 [ nan 110. 270. 240. 154. 144. 307. 268.  59. 204. 312.  94. 174. 223.
 317. 281. 274.  53.  12.  47. 324. 342. 373. 286. 383.  86. 113. 397.
 392. 331. 367.  20. 416.  51. 395. 102.  34. 405. 394. 461. 178. 421.
 308. 135. 504. 269. 498. 390. 195. 513. 203. 263. 477. 521. 169. 355.
 531.  62. 120.  82.  81. 116. 530. 103.   9.  39.  92.  31. 118. 356.
 457. 165. 291. 292. 290.  43. 325. 192. 108. 200. 224. 388. 287. 297.
 490. 482. 207. 437. 329.  28.  77.  42. 338.  83.  72. 146. 380. 323.
 511.  88. 371.  16. 337. 403. 399. 137. 343. 346. 347. 289. 353.  54.
 159. 358. 361.  99. 366. 372. 365.  14. 377. 379. 378. 330.  22. 364.
 360. 401. 232. 255. 384. 167. 212. 514. 391. 376. 402. 396. 398.   6.
 370. 369. 409. 251. 168. 112. 382. 148.  10. 333. 419. 415. 543. 428.
 442. 445. 282. 448. 443. 454.  52. 459. 458. 456. 254. 460. 447. 466.
 484. 184.  32. 494. 516. 496. 499.  29. 272. 130. 520. 507. 515. 512.
 126. 242. 518. 225. 523. 277. 539. 534. 436. 470. 525.  40. 455.  45.
  38.  49.  48.  67.  68.  84.  65.  91.  37.   8. 179. 219. 227. 186.
 153. 218.  78. 202. 216. 221. 275. 233. 280. 309. 321.  93. 107. 350.
 334. 348. 407. 435. 150.  73. 385. 418. 197. 279. 450. 452.  46.  76.
 100. 115. 105. 122. 139. 142. 127. 143. 149. 163. 238. 183. 185. 217.
 180. 209. 215. 193. 213. 222. 230. 234. 246. 158. 258. 260. 257. 271.
  18. 106. 273. 278.  71. 284. 305. 293. 311. 304. 288. 314. 332. 341.
 349. 352. 243. 319. 408. 368. 393. 220. 412. 420. 410. 426. 417. 429.
 444. 433. 446. 424. 465. 357. 479. 478. 485. 483. 229. 486. 491. 245.
 497. 439. 451.]
La columa DAYS_IN_WAITING_LIST tiene los siguientes valores únicos:
 [  0.  50.  47.  65. 122.  75. 101. 150. 125.  14.  60.  34. 100.  22.
 121.  61.  39.   5.   1.   8. 107.  43.  52.   2.  11. 142. 116.  13.
  44.  97.  83.   4. 113.  18.  20. 185.  93. 109.   6.  37. 105. 154.
  64.  99.  38.  48.  33.  77.  21.  80.  59.  40.  58.  89.  53.  49.
  69.  87.  91.  57. 111.  79.  98.  85.  63.  15.   3.  41. 224.  31.
  56. 187. 176.  71.  55.  96. 236. 259. 207. 215. 160. 120.  30.  32.
  27.  62.  24. 108. 147. 379.  70.  35. 178. 330. 223. 174. 162. 391.
  68. 193.  10.  76.  16.  28.   9. 165.  17.  25.  46.   7.  84. 175.
 183.  23. 117.  12.  54.  26.  73.  45.  19.  42.  72.  81.  92.  74.
 167.  36.  nan]
La columa CUSTOMER_TYPE tiene los siguientes valores únicos:
 ['Transient' nan 'Contract' 'Transient-Party' 'Group']
La columa ADR tiene los siguientes valores únicos:
 [  0.    75.    98.   ... 209.25 157.71    nan]
La columa REQUIRED_CAR_PARKING_SPACES tiene los siguientes valores únicos:
 [ 0.  1.  2.  8.  3. nan]
La columa TOTAL_OF_SPECIAL_REQUESTS tiene los siguientes valores únicos:
 [ 0.  1.  3.  2.  4.  5. nan]
La columa RESERVATION_STATUS tiene los siguientes valores únicos:
 ['Check-Out' 'Canceled' 'No-Show' nan]
La columa RESERVATION_STATUS_DATE tiene los siguientes valores únicos:
 ['2015-07-01 00:00:00' '2015-07-02 00:00:00' '2015-07-03 00:00:00'
 '2015-05-06 00:00:00' '2015-04-22 00:00:00' '2015-06-23 00:00:00'
 '2015-07-05 00:00:00' nan '2015-07-07 00:00:00' '2015-07-08 00:00:00'
 '2015-05-11 00:00:00' '2015-07-15 00:00:00' '2015-07-16 00:00:00'
 '2015-05-29 00:00:00' '2015-05-19 00:00:00' '2015-06-19 00:00:00'
 '2015-07-06 00:00:00' '2015-05-23 00:00:00' '2015-05-18 00:00:00'
 '2015-07-09 00:00:00' '2015-06-02 00:00:00' '2015-07-04 00:00:00'
 '2015-06-29 00:00:00' '2015-06-16 00:00:00' '2015-06-18 00:00:00'
 '2015-06-12 00:00:00' '2015-06-09 00:00:00' '2015-05-26 00:00:00'
 '2015-07-11 00:00:00' '2015-07-12 00:00:00' '2015-07-13 00:00:00'
 '2015-07-17 00:00:00' '2015-04-15 00:00:00' '2015-05-13 00:00:00'
 '2015-07-10 00:00:00' '2015-05-20 00:00:00' '2015-05-12 00:00:00'
 '2015-07-14 00:00:00' '2015-06-17 00:00:00' '2015-05-01 00:00:00'
 '2015-07-19 00:00:00' '2015-06-03 00:00:00' '2015-06-26 00:00:00'
 '2015-05-14 00:00:00' '2015-07-20 00:00:00' '2015-05-07 00:00:00'
 '2015-05-28 00:00:00' '2015-04-13 00:00:00' '2015-03-25 00:00:00'
 '2015-07-21 00:00:00' '2015-06-27 00:00:00' '2015-07-18 00:00:00'
 '2015-07-23 00:00:00' '2015-06-08 00:00:00' '2030-02-30'

                                 Nulos
Unnamed: 0                           0
hotel                            63487
is_canceled                      63487
lead_time                        63387
arrival_date_year               118048
arrival_date_month               63487
arrival_date_week_number         81873
arrival_date_day_of_month        63606
stays_in_weekend_nights          63387
stays_in_week_nights             63387
adults                           63449
children                        113575
babies                           63446
meal                             63487
country                         117823
market_segment                  122943
distribution_channel             76978
is_repeated_guest                68501
previous_cancellations          106649
previous_bookings_not_canceled   63487
reserved_room_type              103602
assigned_room_type               63487
booking_changes                  63459
agent                            79827
company                         179007
days_in_waiting_list             63487
customer_type                    88678
adr                              63487
required_car_parking_spaces      63487
total_of_special_requests        63487
reservation_status               63487
reservation_status_date          76363
0                               139926

                                Nulos_Porcentaje
hotel                                      34.72
is_canceled                                34.72
lead_time                                  34.66
arrival_date_year                          64.55
arrival_date_month                         34.72
arrival_date_week_number                   44.77
arrival_date_day_of_month                  34.78
stays_in_weekend_nights                    34.66
stays_in_week_nights                       34.66
adults                                     34.69
children                                   62.10
babies                                     34.69
meal                                       34.72
country                                    64.43
market_segment                             67.23
distribution_channel                       42.09
is_repeated_guest                          37.46
previous_cancellations                     58.32
previous_bookings_not_canceled             34.72
reserved_room_type                         56.65
assigned_room_type                         34.72
booking_changes                            34.70
agent                                      43.65
company                                    97.88
days_in_waiting_list                       34.72
customer_type                              48.49
adr                                        34.72
required_car_parking_spaces                34.72
total_of_special_requests                  34.72
reservation_status                         34.72
reservation_status_date                    41.76
0                                          76.51

-----

El numero total de DUPLICADOS es: 0.

In [13]:
def tipo_columns(dataframe):
    categoricas= dataframe.select_dtypes(include="O")
    numericas= dataframe.select_dtypes(include= np.number)
    col_numericas= numericas.columns
    col_categoricas= categoricas.columns
    
    for col in col_categoricas: 
        print("Columna categórica:")
        print(col.upper()) #pongo nombre de cada columna en mayus para que se vea más claro
        print(categoricas[col].unique())
        print(categoricas[col].value_counts())
        print(f"Total de duplicados: {categoricas[col].duplicated().sum()}")
        print(f"Total de nulos: {categoricas[col].isnull().sum()}")
        print("------\nSiguiente columna:\n")

    print("Estas son todas las columnas categóricas.") 

    for colu in col_numericas:
        print("Columna numérica:")
        print(colu.upper()) #pongo nomnbre de cada columna en mayus para que se vea más claro
        print(numericas[colu].unique()) 
        print(numericas[colu].value_counts())
        print(f"Total de nulos: {numericas[colu].isnull().sum()}")
        print(f"Total de duplicados: {numericas[colu].duplicated().sum()}")

        print("------\nSiguiente columna:\n")

    print("Estas son todas las columnas numéricas.")

In [14]:
tipo_columns(df)

Columna categórica:
HOTEL
['Resort Hotel' 'City Hotel' nan]
hotel
City Hotel      79330
Resort Hotel    40060
Name: count, dtype: int64
Total de duplicados: 182874
Total de nulos: 63487
------
Siguiente columna:

Columna categórica:
IS_CANCELED
[False True nan]
is_canceled
False    75166
True     44224
Name: count, dtype: int64
Total de duplicados: 182874
Total de nulos: 63487
------
Siguiente columna:

Columna categórica:
ARRIVAL_DATE_MONTH
['July' 'August' 'September' 'October' 'November' 'December' '1' 'January'
 'February' '2' '3' 'March' 'April' 'May' 'June' nan]
arrival_date_month
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
November      6794
December      6780
March         5922
February      4898
3             3872
January       3581
2             3170
1             2348
Name: count, dtype: int64
Total de duplicados: 182861
Total de nulos: 63487
------
Siguiente columna:

Columna categórica:
MEAL
['BB' 'FB' 'HB' 'SC' 'Undefined' nan]
meal
BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: count, dtype: int64
Total de duplicados: 182871
Total de nulos: 63487
------
Siguiente columna:

Columna categórica:
COUNTRY
['PRT' nan 'GBR' 'USA' 'ESP' 'IRL' 'FRA' 'ROU' 'NOR' 'OMN' 'ARG' 'DEU'
 'CHE' 'GRC' 'NLD' 'DNK' 'RUS' 'POL' 'AUS' 'EST' 'CZE' 'BRA' 'BEL' 'CN'
 'SWE' 'FIN' 'MOZ' 'SVN' 'MAR' 'ITA' 'UKR' 'SMR' 'LVA' 'PRI' 'CHL' 'CHN'
 'LTU' 'LUX' 'AUT' 'TUR' 'MEX' 'ZAF' 'AGO' 'ISR' 'IND' 'CYM' 'ZMB' 'CPV'
 'ZWE' 'DZA' 'KOR' 'HUN' 'ARE' 'TUN' 'JAM' 'ALB' 'HRV' 'HKG' 'AND' 'GIB'
 'URY' 'BLR' 'JEY' 'CYP' 'MDV' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'COL'
 'SEN' 'GEO' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MYS' 'VEN' 'ARM' 'LKA' 'CUB'
 'CMR' 'IRN' 'BIH' 'NGA' 'COM' 'BGR' 'CIV' 'SRB' 'JOR' 'SYR' 'BDI' 'SGP'
 'KWT' 'PLW' 'QAT' 'SVK' 'SUR' 'MLT' 'MWI' 'MDG' 'ISL' 'JPN' 'CAF' 'TGO'
 'TWN' 'DJI' 'VNM' 'PER' 'EGY' 'SAU' 'KNA' 'ETH' 'ECU' 'IRQ' 'KHM' 'MCO'
 'BGD' 'TJK' 'NIC' 'GGY' 'BEN' 'VGB' 'CRI' 'TZA' 'GAB' 'MKD' 'TMP' 'GLP'
 'LIE' 'GNB' 'MAC' 'IMN' 'UMI' 'MYT' 'GHA' 'FRO' 'MMR' 'PAN' 'MUS' 'LBY'
 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'DMA' 'UGA' 'MNE' 'GTM' 'ASM' 'KEN'
 'NCL' 'STP' 'KIR' 'SDN' 'ATF' 'SLE' 'SLV' 'LAO']
country
PRT    26577
GBR     6585
FRA     5756
ESP     4712
DEU     3972
       ...
LIE        1
NIC        1
GGY        1
FJI        1
UMI        1
Name: count, Length: 163, dtype: int64
Total de duplicados: 182713
Total de nulos: 117823
------
Siguiente columna:

Columna categórica:
MARKET_SEGMENT
[nan 'Corporate' 'Online TA' 'Direct' 'Offline TA/TO' 'Groups'
 'Complementary' 'Undefined' 'Aviation']
market_segment
Online TA        28331
Offline TA/TO    12116
Groups           10008
Direct            6354
Corporate         2643
Complementary      363
Aviation           118
Undefined            1
Name: count, dtype: int64
Total de duplicados: 182868
Total de nulos: 122943
------
Siguiente columna:

Columna categórica:
DISTRIBUTION_CHANNEL
['Direct' 'Corporate' 'TA/TO' nan 'Undefined' 'GDS']
distribution_channel
TA/TO        86822
Direct       12997
Corporate     5899
GDS            176
Undefined        5
Name: count, dtype: int64
Total de duplicados: 182871
Total de nulos: 76978
------
Siguiente columna:

Columna categórica:
RESERVED_ROOM_TYPE
['C' nan 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']
reserved_room_type
A    57202
D    12637
E     4345
F     1907
G     1375
B      746
C      625
H      428
P        6
L        4
Name: count, dtype: int64
Total de duplicados: 182866
Total de nulos: 103602
------
Siguiente columna:

Columna categórica:
ASSIGNED_ROOM_TYPE
['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K' nan]
assigned_room_type
A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: count, dtype: int64
Total de duplicados: 182864
Total de nulos: 63487
------
Siguiente columna:

Columna categórica:
CUSTOMER_TYPE
['Transient' nan 'Contract' 'Transient-Party' 'Group']
customer_type
Transient          70610
Transient-Party    19839
Contract            3290
Group                460
Name: count, dtype: int64
Total de duplicados: 182872
Total de nulos: 88678
------
Siguiente columna:

Columna categórica:
RESERVATION_STATUS
['Check-Out' 'Canceled' 'No-Show' nan]
reservation_status
Check-Out    75166
Canceled     43017
No-Show       1207
Name: count, dtype: int64
Total de duplicados: 182873
Total de nulos: 63487
------
Siguiente columna:

Columna categórica:
RESERVATION_STATUS_DATE
['2015-07-01 00:00:00' '2015-07-02 00:00:00' '2015-07-03 00:00:00'
 '2015-05-06 00:00:00' '2015-04-22 00:00:00' '2015-06-23 00:00:00'
 '2015-07-05 00:00:00' nan '2015-07-07 00:00:00' '2015-07-08 00:00:00'
 '2015-05-11 00:00:00' '2015-07-15 00:00:00' '2015-07-16 00:00:00'
 '2015-05-29 00:00:00' '2015-05-19 00:00:00' '2015-06-19 00:00:00'
 '2015-07-06 00:00:00' '2015-05-23 00:00:00' '2015-05-18 00:00:00'
 '2015-07-09 00:00:00' '2015-06-02 00:00:00' '2015-07-04 00:00:00'
 '2015-06-29 00:00:00' '2015-06-16 00:00:00' '2015-06-18 00:00:00'
 '2015-06-12 00:00:00' '2015-06-09 00:00:00' '2015-05-26 00:00:00'
 '2015-07-11 00:00:00' '2015-07-12 00:00:00' '2015-07-13 00:00:00'
 '2015-07-17 00:00:00' '2015-04-15 00:00:00' '2015-05-13 00:00:00'
 '2015-07-10 00:00:00' '2015-05-20 00:00:00' '2015-05-12 00:00:00'
 '2015-07-14 00:00:00' '2015-06-17 00:00:00' '2015-05-01 00:00:00'
 '2015-07-19 00:00:00' '2015-06-03 00:00:00' '2015-06-26 00:00:00'
 '2015-05-14 00:00:00' '2015-07-20 00:00:00' '2015-05-07 00:00:00'
 '2015-05-28 00:00:00' '2015-04-13 00:00:00' '2015-03-25 00:00:00'
 '2015-07-21 00:00:00' '2015-06-27 00:00:00' '2015-07-18 00:00:00'
 '2015-07-23 00:00:00' '2015-06-08 00:00:00' '2030-02-30'
 '2015-03-05 00:00:00' '2015-06-22 00:00:00' '2015-04-24 00:00:00'
 '2015-07-22 00:00:00' '2015-05-27 00:00:00' '2015-04-06 00:00:00'
 '2015-04-11 00:00:00' '2015-07-25 00:00:00' '2015-07-28 00:00:00'
 '2015-07-29 00:00:00' '2015-07-24 00:00:00' '2015-06-30 00:00:00'
 '2015-06-24 00:00:00' '2015-07-27 00:00:00' '2015-04-29 00:00:00'
 '2015-06-04 00:00:00' '2015-06-11 00:00:00' '2015-06-01 00:00:00'
 '2015-07-26 00:00:00' '2015-08-01 00:00:00' '2015-08-02 00:00:00'
 '2015-06-15 00:00:00' '2015-04-23 00:00:00' '2015-07-30 00:00:00'
 '2015-07-31 00:00:00' '2015-06-05 00:00:00' '2015-05-25 00:00:00'
 '2015-08-03 00:00:00' '2015-04-17 00:00:00' '2015-08-04 00:00:00'
 '2015-08-06 00:00:00' '2015-05-15 00:00:00' '2015-06-25 00:00:00'
 '2015-05-09 00:00:00' '2015-03-17 00:00:00' '2015-05-22 00:00:00'
 '2015-08-07 00:00:00' '2015-04-04 00:00:00' '2015-08-05 00:00:00'
 '2015-08-08 00:00:00' '2015-08-10 00:00:00' '2015-05-04 00:00:00'
 '2015-06-06 00:00:00' '2015-08-09 00:00:00' '2015-08-15 00:00:00'
 '2015-08-11 00:00:00' '2015-03-28 00:00:00' '2015-08-14 00:00:00'
 '2015-08-12 00:00:00' '2015-08-16 00:00:00' '2015-08-21 00:00:00'
 '2015-08-13 00:00:00' '2015-08-17 00:00:00' '2015-04-20 00:00:00'
 '2015-08-18 00:00:00' '2015-08-23 00:00:00' '2015-08-22 00:00:00'
 '2015-08-19 00:00:00' '2015-08-20 00:00:00' '2015-08-29 00:00:00'
 '2015-03-31 00:00:00' '2015-05-30 00:00:00' '2015-08-25 00:00:00'
 '2015-08-24 00:00:00' '2015-03-24 00:00:00' '2015-05-21 00:00:00'
 '2015-08-28 00:00:00' '2015-08-26 00:00:00' '2015-08-27 00:00:00'
 '2015-08-30 00:00:00' '2015-08-31 00:00:00' '2015-09-06 00:00:00'
 '2015-09-03 00:00:00' '2015-09-04 00:00:00' '2015-09-02 00:00:00'
 '2015-09-01 00:00:00' '2015-09-05 00:00:00' '2015-06-20 00:00:00'
 '2015-09-07 00:00:00' '2015-09-10 00:00:00' '2015-09-11 00:00:00'
 '2015-09-08 00:00:00' '2015-09-09 00:00:00' '2015-09-13 00:00:00'
 '2015-09-15 00:00:00' '2015-04-10 00:00:00' '2015-01-02 00:00:00'
 '2014-11-18 00:00:00' '2015-09-12 00:00:00' '2015-09-17 00:00:00'
 '2015-09-14 00:00:00' '2015-04-07 00:00:00' '2015-09-19 00:00:00'
 '2015-09-16 00:00:00' '2015-09-20 00:00:00' '2015-01-18 00:00:00'
 '2015-10-23 00:00:00' '2015-01-22 00:00:00' '2015-01-01 00:00:00'
 '2015-09-22 00:00:00' '2015-09-24 00:00:00' '2015-09-18 00:00:00'
 '2015-09-21 00:00:00' '2015-09-25 00:00:00' '2015-09-27 00:00:00'
 '2015-09-28 00:00:00' '2015-10-12 00:00:00' '2015-06-13 00:00:00'
 '2015-09-29 00:00:00' '2015-09-23 00:00:00' '2015-10-01 00:00:00'
 '2015-09-26 00:00:00' '2015-04-18 00:00:00' '2015-09-30 00:00:00'
 '2015-10-02 00:00:00' '2015-10-04 00:00:00' '2015-10-08 00:00:00'
 '2015-10-03 00:00:00' '2015-10-09 00:00:00' '2015-10-11 00:00:00'
 '2015-10-05 00:00:00' '2015-10-10 00:00:00' '2015-10-06 00:00:00'
 '2015-10-07 00:00:00' '2015-10-14 00:00:00' '2015-10-15 00:00:00'
 '2015-10-18 00:00:00' '2015-10-13 00:00:00' '2015-10-20 00:00:00'
 '2015-10-19 00:00:00' '2015-10-31 00:00:00' '2015-10-16 00:00:00'
 '2015-10-21 00:00:00' '2015-10-22 00:00:00' '2015-10-17 00:00:00'
 '2015-10-24 00:00:00' '2015-10-25 00:00:00' '2015-10-28 00:00:00'
 '2015-10-27 00:00:00' '2015-10-26 00:00:00' '2015-10-30 00:00:00'
 '2015-11-05 00:00:00' '2015-10-29 00:00:00' '2015-11-03 00:00:00'
 '2015-11-07 00:00:00' '2015-11-04 00:00:00' '2015-11-01 00:00:00'
 '2015-11-17 00:00:00' '2015-11-02 00:00:00' '2015-11-06 00:00:00'
 '2015-11-08 00:00:00' '2015-11-09 00:00:00' '2015-11-10 00:00:00'
 '2015-11-15 00:00:00' '2015-11-16 00:00:00' '2015-11-11 00:00:00'
 '2015-11-12 00:00:00' '2015-11-14 00:00:00' '2015-11-13 00:00:00'
 '2015-11-18 00:00:00' '2015-11-22 00:00:00' '2015-11-21 00:00:00'
 '2015-11-20 00:00:00' '2015-11-24 00:00:00' '2015-11-25 00:00:00'
 '2015-11-23 00:00:00' '2015-11-28 00:00:00' '2015-11-26 00:00:00'
 '2015-11-19 00:00:00' '2015-11-27 00:00:00' '2015-11-29 00:00:00'
 '2015-12-04 00:00:00' '2015-12-01 00:00:00' '2015-12-06 00:00:00'
 '2015-12-08 00:00:00' '2015-12-02 00:00:00' '2015-12-03 00:00:00'
 '2015-12-31 00:00:00' '2015-12-05 00:00:00' '2015-12-10 00:00:00'
 '2015-12-17 00:00:00' '2015-11-30 00:00:00' '2015-12-12 00:00:00'
 '2015-12-07 00:00:00' '2015-12-13 00:00:00' '2015-12-15 00:00:00'
 '2015-12-16 00:00:00' '2015-12-19 00:00:00' '2015-12-18 00:00:00'
 '2015-12-26 00:00:00' '2015-12-27 00:00:00' '2016-01-05 00:00:00'
 '2015-12-22 00:00:00' '2015-12-24 00:00:00' '2015-12-29 00:00:00'
 '2015-12-20 00:00:00' '2015-12-23 00:00:00' '2015-12-30 00:00:00'
 '2016-01-02 00:00:00' '2016-01-01 00:00:00' '2015-12-28 00:00:00'
 '2015-12-25 00:00:00' '2016-01-03 00:00:00' '2016-01-04 00:00:00'
 '2016-01-11 00:00:00' '2016-01-07 00:00:00' '2015-12-21 00:00:00'
 '2016-01-09 00:00:00' '2016-01-10 00:00:00' '2016-01-08 00:00:00'
 '2016-01-06 00:00:00' '2016-01-12 00:00:00' '2016-01-13 00:00:00'
 '2016-01-23 00:00:00' '2016-01-15 00:00:00' '2016-01-16 00:00:00'
 '2016-01-17 00:00:00' '2016-01-19 00:00:00' '2016-01-18 00:00:00'
 '2016-01-21 00:00:00' '2016-01-24 00:00:00' '2016-01-22 00:00:00'
 '2016-01-29 00:00:00' '2016-01-27 00:00:00' '2016-01-25 00:00:00'
 '2016-03-08 00:00:00' '2016-01-26 00:00:00' '2016-01-20 00:00:00'
 '2016-01-30 00:00:00' '2016-02-01 00:00:00' '2016-02-08 00:00:00'
 '2016-02-07 00:00:00' '2016-01-28 00:00:00' '2016-02-05 00:00:00'
 '2016-02-03 00:00:00' '2016-02-09 00:00:00' '2016-02-13 00:00:00'
 '2016-02-10 00:00:00' '2016-02-02 00:00:00' '2016-02-04 00:00:00'
 '2016-02-12 00:00:00' '2016-02-11 00:00:00' '2016-02-16 00:00:00'
 '2016-02-14 00:00:00' '2015-12-11 00:00:00' '2016-02-20 00:00:00'
 '2016-02-15 00:00:00' '2016-02-06 00:00:00' '2016-01-14 00:00:00'
 '2016-02-17 00:00:00' '2016-02-21 00:00:00' '2016-02-24 00:00:00'
 '2016-02-25 00:00:00' '2016-02-19 00:00:00' '2016-02-18 00:00:00'
 '2016-02-26 00:00:00' '2016-02-23 00:00:00' '2016-03-05 00:00:00'
 '2016-02-22 00:00:00' '2016-02-27 00:00:00' '2016-03-03 00:00:00'
 '2016-03-24 00:00:00' '2016-02-29 00:00:00' '2016-03-01 00:00:00'
 '2016-03-02 00:00:00' '2016-03-30 00:00:00' '2016-03-04 00:00:00'
 '2016-03-07 00:00:00' '2016-03-14 00:00:00' '2016-03-21 00:00:00'
 '2016-03-09 00:00:00' '2016-03-12 00:00:00' '2016-03-22 00:00:00'
 '2016-03-10 00:00:00' '2016-03-11 00:00:00' '2016-03-20 00:00:00'
 '2016-03-15 00:00:00' '2016-03-17 00:00:00' '2016-03-16 00:00:00'
 '2016-03-19 00:00:00' '2016-03-27 00:00:00' '2016-03-18 00:00:00'
 '2016-03-26 00:00:00' '2016-03-31 00:00:00' '2016-03-28 00:00:00'
 '2016-03-29 00:00:00' '2016-04-01 00:00:00' '2016-03-23 00:00:00'
 '2016-04-02 00:00:00' '2016-03-25 00:00:00' '2016-03-13 00:00:00'
 '2016-04-04 00:00:00' '2016-04-03 00:00:00' '2016-04-05 00:00:00'
 '2016-04-08 00:00:00' '2016-04-06 00:00:00' '2016-04-09 00:00:00'
 '2016-04-12 00:00:00' '2016-04-16 00:00:00' '2016-04-17 00:00:00'
 '2016-04-14 00:00:00' '2016-04-18 00:00:00' '2016-04-21 00:00:00'
 '2016-04-19 00:00:00' '2016-04-20 00:00:00' '2016-04-10 00:00:00'
 '2016-04-13 00:00:00' '2016-04-11 00:00:00' '2016-04-07 00:00:00'
 '2016-04-15 00:00:00' '2016-04-22 00:00:00' '2016-04-23 00:00:00'
 '2016-04-26 00:00:00' '2016-04-28 00:00:00' '2016-04-24 00:00:00'
 '2016-04-25 00:00:00' '2016-04-29 00:00:00' '2016-04-30 00:00:00'
 '2016-05-10 00:00:00' '2016-04-27 00:00:00' '2016-05-02 00:00:00'
 '2016-05-07 00:00:00' '2016-05-08 00:00:00' '2016-05-12 00:00:00'
 '2016-05-01 00:00:00' '2016-05-04 00:00:00' '2016-05-06 00:00:00'
 '2016-05-03 00:00:00' '2016-05-09 00:00:00' '2016-05-05 00:00:00'
 '2016-05-13 00:00:00' '2016-05-14 00:00:00' '2016-05-18 00:00:00'
 '2016-05-19 00:00:00' '2016-05-15 00:00:00' '2016-05-16 00:00:00'
 '2016-05-11 00:00:00' '2016-05-21 00:00:00' '2016-05-22 00:00:00'
 '2016-05-20 00:00:00' '2016-05-24 00:00:00' '2016-05-26 00:00:00'
 '2016-05-23 00:00:00' '2016-05-27 00:00:00' '2016-05-17 00:00:00'
 '2016-05-25 00:00:00' '2016-05-29 00:00:00' '2016-05-28 00:00:00'
 '2016-05-30 00:00:00' '2016-05-31 00:00:00' '2016-06-01 00:00:00'
 '2016-06-03 00:00:00' '2016-06-08 00:00:00' '2016-06-02 00:00:00'
 '2016-06-05 00:00:00' '2016-06-06 00:00:00' '2016-06-13 00:00:00'
 '2016-06-07 00:00:00' '2016-06-10 00:00:00' '2016-06-11 00:00:00'
 '2016-06-12 00:00:00' '2016-06-14 00:00:00' '2016-06-17 00:00:00'
 '2016-06-04 00:00:00' '2016-06-16 00:00:00' '2016-06-18 00:00:00'
 '2016-06-21 00:00:00' '2016-06-09 00:00:00' '2016-06-24 00:00:00'
 '2016-06-20 00:00:00' '2016-06-25 00:00:00' '2016-06-22 00:00:00'
 '2016-06-26 00:00:00' '2016-06-23 00:00:00' '2016-07-01 00:00:00'
 '2016-06-15 00:00:00' '2016-06-28 00:00:00' '2016-07-02 00:00:00'
 '2016-06-19 00:00:00' '2016-06-27 00:00:00' '2016-07-04 00:00:00'
 '2016-06-30 00:00:00' '2016-07-05 00:00:00' '2016-07-08 00:00:00'
 '2016-07-09 00:00:00' '2016-07-07 00:00:00' '2016-07-12 00:00:00'
 '2016-06-29 00:00:00' '2016-07-10 00:00:00' '2016-07-15 00:00:00'
 '2016-07-03 00:00:00' '2016-07-16 00:00:00' '2016-07-14 00:00:00'
 '2016-07-18 00:00:00' '2016-07-13 00:00:00' '2016-07-06 00:00:00'
 '2016-07-21 00:00:00' '2016-07-19 00:00:00' '2016-07-11 00:00:00'
 '2016-07-20 00:00:00' '2016-07-28 00:00:00' '2016-07-17 00:00:00'
 '2016-07-25 00:00:00' '2016-07-22 00:00:00' '2016-07-23 00:00:00'
 '2016-07-29 00:00:00' '2016-08-03 00:00:00' '2016-08-02 00:00:00'
 '2016-08-04 00:00:00' '2016-08-08 00:00:00' '2016-08-10 00:00:00'
 '2016-08-01 00:00:00' '2016-08-06 00:00:00' '2016-03-06 00:00:00'
 '2016-08-05 00:00:00' '2016-07-26 00:00:00' '2016-08-07 00:00:00'
 '2016-07-24 00:00:00' '2016-08-12 00:00:00' '2016-07-27 00:00:00'
 '2016-08-13 00:00:00' '2016-08-18 00:00:00' '2016-08-16 00:00:00'
 '2016-08-15 00:00:00' '2016-08-17 00:00:00' '2016-08-11 00:00:00'
 '2016-07-31 00:00:00' '2016-07-30 00:00:00' '2030-11-31'
 '2016-09-01 00:00:00' '2016-08-23 00:00:00' '2016-08-20 00:00:00'
 '2016-08-21 00:00:00' '2016-09-04 00:00:00' '2016-08-22 00:00:00'
 '2016-08-27 00:00:00' '2016-08-25 00:00:00' '2016-08-09 00:00:00'
 '2016-08-26 00:00:00' '2016-09-05 00:00:00' '2016-08-24 00:00:00'
 '2016-09-10 00:00:00' '2016-08-29 00:00:00' '2016-09-09 00:00:00'
 '2016-08-30 00:00:00' '2016-08-19 00:00:00' '2016-09-13 00:00:00'
 '2016-08-31 00:00:00' '2016-09-12 00:00:00' '2016-09-15 00:00:00'
 '2016-08-14 00:00:00' '2016-09-02 00:00:00' '2016-09-14 00:00:00'
 '2016-09-08 00:00:00' '2016-09-19 00:00:00' '2016-09-16 00:00:00'
 '2016-09-07 00:00:00' '2016-09-21 00:00:00' '2016-09-06 00:00:00'
 '2016-09-22 00:00:00' '2016-09-17 00:00:00' '2016-09-20 00:00:00'
 '2016-09-03 00:00:00' '2016-09-26 00:00:00' '2016-09-23 00:00:00'
 '2016-09-18 00:00:00' '2016-10-02 00:00:00' '2016-10-01 00:00:00'
 '2016-09-27 00:00:00' '2016-09-25 00:00:00' '2016-10-05 00:00:00'
 '2016-09-11 00:00:00' '2016-09-30 00:00:00' '2016-10-09 00:00:00'
 '2016-10-03 00:00:00' '2016-10-06 00:00:00' '2016-10-11 00:00:00'
 '2016-09-24 00:00:00' '2016-09-29 00:00:00' '2016-10-13 00:00:00'
 '2016-09-28 00:00:00' '2016-10-08 00:00:00' '2016-10-07 00:00:00'
 '2016-08-28 00:00:00' '2016-10-17 00:00:00' '2016-10-18 00:00:00'
 '2016-10-10 00:00:00' '2016-10-16 00:00:00' '2016-10-04 00:00:00'
 '2016-10-15 00:00:00' '2016-10-19 00:00:00' '2016-10-21 00:00:00'
 '2016-10-12 00:00:00' '2016-10-24 00:00:00' '2016-10-26 00:00:00'
 '2016-10-23 00:00:00' '2016-10-20 00:00:00' '2016-10-25 00:00:00'
 '2016-10-27 00:00:00' '2016-10-28 00:00:00' '2016-10-30 00:00:00'
 '2016-10-29 00:00:00' '2029-04-31' '2016-11-01 00:00:00'
 '2016-11-04 00:00:00' '2016-10-14 00:00:00' '2016-11-07 00:00:00'
 '2016-11-03 00:00:00' '2016-11-10 00:00:00' '2016-11-14 00:00:00'
 '2016-11-02 00:00:00' '2016-10-31 00:00:00' '2016-11-11 00:00:00'
 '2016-11-08 00:00:00' '2016-11-05 00:00:00' '2016-11-25 00:00:00'
 '2016-11-09 00:00:00' '2016-11-20 00:00:00' '2016-11-21 00:00:00'
 '2016-10-22 00:00:00' '2016-11-22 00:00:00' '2016-11-16 00:00:00'
 '2016-11-23 00:00:00' '2016-11-17 00:00:00' '2016-11-06 00:00:00'
 '2016-11-15 00:00:00' '2016-11-13 00:00:00' '2016-11-12 00:00:00'
 '2016-11-27 00:00:00' '2016-11-19 00:00:00' '2016-11-30 00:00:00'
 '2016-12-02 00:00:00' '2030-06-31' '2016-12-04 00:00:00'
 '2016-11-29 00:00:00' '2016-12-07 00:00:00' '2016-11-28 00:00:00'
 '2016-12-03 00:00:00' '2016-12-06 00:00:00' '2016-11-24 00:00:00'
 '2016-12-08 00:00:00' '2016-12-05 00:00:00' '2016-12-10 00:00:00'
 '2016-11-18 00:00:00' '2016-12-13 00:00:00' '2016-12-14 00:00:00'
 '2016-12-16 00:00:00' '2016-12-15 00:00:00' '2016-12-17 00:00:00'
 '2016-12-19 00:00:00' '2016-12-21 00:00:00' '2016-12-20 00:00:00'
 '2016-12-22 00:00:00' '2016-12-23 00:00:00' '2016-12-24 00:00:00'
 '2016-12-01 00:00:00' '2016-12-27 00:00:00' '2016-12-29 00:00:00'
 '2016-12-30 00:00:00' '2016-12-12 00:00:00' '2017-01-02 00:00:00'
 '2016-12-11 00:00:00' '2017-01-04 00:00:00' '2017-01-01 00:00:00'
 '2016-12-26 00:00:00' '2017-01-06 00:00:00' '2016-12-28 00:00:00'
 '2016-12-18 00:00:00' '2017-01-10 00:00:00' '2017-01-11 00:00:00'
 '2017-01-07 00:00:00' '2017-01-12 00:00:00' '2017-01-16 00:00:00'
 '2017-01-14 00:00:00' '2017-01-13 00:00:00' '2017-01-05 00:00:00'
 '2017-01-03 00:00:00' '2017-01-17 00:00:00' '2016-12-09 00:00:00'
 '2017-01-20 00:00:00' '2017-01-26 00:00:00' '2016-12-31 00:00:00'
 '2017-01-23 00:00:00' '2017-01-28 00:00:00' '2017-01-19 00:00:00'
 '2017-01-27 00:00:00' '2017-01-25 00:00:00' '2017-01-24 00:00:00'
 '2017-01-29 00:00:00' '2017-01-18 00:00:00' '2016-12-25 00:00:00'
 '2017-01-15 00:00:00' '2017-01-21 00:00:00' '2017-02-01 00:00:00'
 '2017-02-02 00:00:00' '2017-01-31 00:00:00' '2017-02-03 00:00:00'
 '2017-02-04 00:00:00' '2017-02-06 00:00:00' '2017-02-07 00:00:00'
 '2017-02-08 00:00:00' '2017-01-30 00:00:00' '2017-02-09 00:00:00'
 '2017-01-09 00:00:00' '2017-02-11 00:00:00' '2017-02-10 00:00:00'
 '2017-02-12 00:00:00' '2017-02-13 00:00:00' '2017-02-14 00:00:00'
 '2017-02-16 00:00:00' '2017-02-17 00:00:00' '2017-02-18 00:00:00'
 '2017-02-19 00:00:00' '2017-02-20 00:00:00' '2017-02-15 00:00:00'
 '2017-02-21 00:00:00' '2017-02-22 00:00:00' '2017-02-26 00:00:00'
 '2017-02-23 00:00:00' '2017-02-24 00:00:00' '2017-02-25 00:00:00'
 '2017-02-28 00:00:00' '2017-03-05 00:00:00' '2017-02-27 00:00:00'
 '2017-03-03 00:00:00' '2017-03-06 00:00:00' '2017-03-02 00:00:00'
 '2017-03-08 00:00:00' '2017-03-09 00:00:00' '2017-03-10 00:00:00'
 '2017-03-07 00:00:00' '2017-03-12 00:00:00' '2017-03-13 00:00:00'
 '2017-03-14 00:00:00' '2017-03-01 00:00:00' '2017-03-18 00:00:00'

In [15]:
df.columns

Index(['Unnamed: 0', 'hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', '0'],
      dtype='object')

In [16]:
#HACER FILTRO PARA VER LAS RESERVADAS NULAS Y VALORES UNICOS DE LAS ASIGNADAS

In [17]:
#Miro los nulos de lead time, que es una de las columnas con menos porcentaje de nulos
nulos= df[df["lead_time"].isnull()]
nulos.sample(2)

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
125098,125098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRT
179352,179352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [18]:
#hago copy por siaca
df1 = df.copy()

In [19]:
df.columns

Index(['Unnamed: 0', 'hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', '0'],
      dtype='object')

In [20]:
#borro nulos con la referencia de lead time
df1 = df1.dropna(subset=['lead_time'])

In [21]:
#miro de nuevo porcentajes de nulos
porcentaje_null= (df1.isnull().sum()/df.shape[0]) *100 #hago el cálculo
nulos_dataf= pd.DataFrame(porcentaje_null.round(2), columns = ["Nulos_Porcentaje"]) #convierto a dataframe y redondeo las cifras
display(nulos_dataf[nulos_dataf["Nulos_Porcentaje"]>0]) #filtro para que solo me muestre las columnas con más de cero nulos.

                                Nulos_Porcentaje
hotel                                       0.05
is_canceled                                 0.05
arrival_date_year                          29.89
arrival_date_month                          0.05
arrival_date_week_number                   10.11
arrival_date_day_of_month                   0.12
adults                                      0.05
children                                   27.46
babies                                      0.05
meal                                        0.05
country                                    29.77
market_segment                             32.57
distribution_channel                        7.43
is_repeated_guest                           2.80
previous_cancellations                     23.67
previous_bookings_not_canceled              0.05
reserved_room_type                         21.99
assigned_room_type                          0.05
booking_changes                             0.05
agent                                       8.99
company                                    63.22
days_in_waiting_list                        0.05
customer_type                              13.83
adr                                         0.05
required_car_parking_spaces                 0.05
total_of_special_requests                   0.05
reservation_status                          0.05
reservation_status_date                     7.10
0                                          65.32

In [22]:
df1.drop("0", axis=1, inplace=True)

In [18]:
df1

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00
1,1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00
2,2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00
3,3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00
4,4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#df1.to_csv("finanzas-hotel-bookings-clean.csv")

In [23]:
df["total_of_special_requests"] = df["total_of_special_requests"].astype(str).str.replace(".", "")

In [24]:
df2= df1.copy()

In [25]:
df2["babies"]= df2["babies"].astype(str).str.split(".").str[0]

In [26]:
df2["babies"]= df2["babies"].replace("nan", "")

In [27]:
# df2["babies"] = df2["babies"].replace("", np.number) ··· no me funciona lo cambio
df2["babies"].replace("", np.nan, inplace=True)

In [28]:
df2["babies"].unique()

array(['0', '1', '18', '2', '17', '13', '15', '16', '12', '10', '11',
       '19', '9', '14', nan], dtype=object)

In [29]:
df2['babies'] = pd.to_numeric(df2['babies'], errors='coerce').astype('Int64')

In [30]:
listado = ['lead_time', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'agent', 'company', 'days_in_waiting_list', 'required_car_parking_spaces', 'total_of_special_requests']

In [31]:
def quitar_puntos(df, lista):
   for col in lista:
    # Convierto a cadena, spliteo por el punto y reasigno a la columna del DataFrame
    df[col] = df[col].astype(str).str.split(".").str[0].replace("nan", "").replace("", np.nan)
    # Convierte la columna numérica forzando a NaN en caso de error ("coerce")
    df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')

In [29]:
# def quitar_puntos(df, lista):
#     for col in lista:
#        # Convierto a cadena, spliteo por el punto y reasigno a la columna del DataFrame
#         df[col] = df[col].astype(str).str.split(".").str[0].replace("nan", "").replace("", np.number)
#         #convierte la columna numérica forzando a NaN en el caso de error ("coerce")
#         df[col]= pd.to_numeric(df[col], errors='coerce').astype('Int64')
         
#     return df

In [32]:
quitar_puntos(df1, listado)

In [33]:
df1[df1["hotel"].isnull()]

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
182777,182777,NaN,NaN,285,<NA>,NaN,<NA>,<NA>,11,19,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
182778,182778,NaN,NaN,259,<NA>,NaN,<NA>,<NA>,17,24,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
182779,182779,NaN,NaN,350,<NA>,NaN,<NA>,<NA>,18,21,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
182780,182780,NaN,NaN,249,<NA>,NaN,<NA>,<NA>,10,22,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
182781,182781,NaN,NaN,299,<NA>,NaN,<NA>,<NA>,16,20,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,182872,NaN,NaN,224,<NA>,NaN,<NA>,<NA>,19,19,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
182873,182873,NaN,NaN,390,<NA>,NaN,<NA>,<NA>,14,19,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
182874,182874,NaN,NaN,230,<NA>,NaN,<NA>,<NA>,11,20,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
182875,182875,NaN,NaN,304,<NA>,NaN,<NA>,<NA>,16,15,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
182876,182876,NaN,NaN,341,<NA>,NaN,<NA>,<NA>,17,24,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN

In [34]:
df1 = df1.dropna(subset=['hotel'])

In [35]:
df1["hotel"].isnull().sum()

0

In [36]:
#miro de nuevo porcentajes de nulos
porcentaje_null= (df1.isnull().sum()/df1.shape[0]) *100 #hago el cálculo
nulos_dataf= pd.DataFrame(porcentaje_null.round(2), columns = ["Nulos_Porcentaje"]) #convierto a dataframe y redondeo las cifras
display(nulos_dataf[nulos_dataf["Nulos_Porcentaje"]>0]) #filtro para que solo me muestre las columnas con más de cero nulos.

                           Nulos_Porcentaje
arrival_date_year                     45.70
arrival_date_week_number              15.40
arrival_date_day_of_month              0.10
children                              41.98
country                               45.51
market_segment                        49.80
distribution_channel                  11.30
is_repeated_guest                      4.20
previous_cancellations                36.18
reserved_room_type                    33.60
agent                                 13.69
company                               96.76
customer_type                         21.10
reservation_status_date               10.80

In [37]:
#vemos que es booleano
df1["is_canceled"].unique()

array([False, True], dtype=object)

In [38]:
#Cambiamos valores 1, 2 y 3 por el nombre del mes en columna arrivaldatemonth
df1["arrival_date_month"]= df1["arrival_date_month"].str.replace("1", "January").str.replace("2", "February").str.replace("3", "March")

In [39]:
df1["arrival_date_month"].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [40]:
#hacerle más adelante undefined a NAN
df1["customer_type"].unique()

array(['Transient', nan, 'Contract', 'Transient-Party', 'Group'],
      dtype=object)

In [41]:
df1["is_repeated_guest"]

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: is_repeated_guest, Length: 119390, dtype: Int64

In [42]:
df1["is_repeated_guest"] = df1["is_repeated_guest"].astype(str).str.replace("1", "True").str.replace("0", "False") # hay que poner filtro sale don false

In [41]:
#Pasamos esta columna a tipo fecha
#df1["reservation_status_date"]= pd.to_datetime(df1["reservation_status_date"], format='%Y-%m-%d', errors='coerce')

In [42]:
#df1.to_csv("finanzas-hotel-bookings-clean.csv")

In [43]:
df1["country"].isnull().sum()

54336

In [44]:
#A comprobar categoricas:
#['country', 'market_segment', 'customer_type', 'reservation_status',  'distribution_channel']

#Borrar company


arrival date month cambiar nums por nombres y cambiar a objeto

market segment debería ser object, es int, cambiar undefined por la mediana? no, muchos nulos 122943
distrib channel es int tiene que ser object cambiar nan por undefined?
country es int tiene que ser object
cubrir assigned room type y reserved room type por faltantes, pasar int a object en ambas

reservation status date pasar a date, algunas no tienen hora

arrival date year quitar . pasar a int, muchos nulos
arrival date of month, quita ., hace int
stays in weekend nights (num noches que el cliente se quedó durante el fin de semana) datos incongruentes?
STAYS_IN_WEEK_NIGHTS (lo mismo pero en la semana) también incongruente? valores flotantes, deberían ser int?
ADULTS cambiar .0 , dejar como int
children quitar puntos
babies quitar puntos
is repeated guest, cambiar o y 1 por true o false, y nan por undefined o similar
previous_cancellations quitar puntos . dejar como int
previous_bookings_not_canceled quita .0 dejar como int
booking_changes quitar .0 
agent quitar .0
company quitar .0
DAYS_IN_WAITING_LIST quitar .0
adr debería ser float , es int
REQUIRED_CAR_PARKING_SPACES quitar .0
total_of_special_requests quitar .0

In [44]:
#Lista de columnas float to integer
#float_to_int=['lead_time', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'agent', 'company', 'days_in_waiting_list', 'required_car_parking_spaces', 'total_of_special_requests']
#ok

#Lista de columnas Unknown
unknown=['hotel', 'is_canceled', 'country', 'market_segment', 'customer_type', 'reservation_status']
#Lista de columnas Undefined
undefined=['meal', 'distribution_channel']
#Lista de True/False object
true_false=['is_canceled', 'is_repeated_guest']
#True, False, 1, 0
#is_repeated_guest es float --> pasar primero a int y luego a T/F object??? 
#Lista fecha
objetc_to_date=['reservation_status_date']
#Lista eliminar
columns_to_drop=['0']
#Otros
#arrival_date_month --> hacer diccionario para renombrar los dígitos object en los nombres de los meses corespondientes
#reserved_room_type --> chequear si se puede cubrir con assigned_room_type
#assigned_room_type --> chequear si se puede curbir con reserved_room_type
#Sin modificaciones
#adr (tarifa diaria, already float)

# Paola


Lista de columnas Unknown:
* unknown=['hotel', 'is_canceled', 'country', 'market_segment', 'customer_type', 'reservation_status'] ✅

Lista de columnas Undefined
* undefined=['meal', 'distribution_channel']  ✅

Lista de True/False object
true_false=['is_canceled', 'is_repeated_guest']  ✅

True, False, 1, 0 ???

* is_repeated_guest es float --> pasar primero a int y luego a T/F object??? (revisar)... ✅❎

Lista fecha
* objetc_to_date=['reservation_status_date']  ✅
* he rrellenado los nulos de ['year'] usando el año de ['reservation_status_date'] (valorar)

#Lista eliminar
* columns_to_drop=['0','company'] ✅( company la agregue yo )

Otros
* arrival_date_month --> hacer diccionario para renombrar los dígitos object en los nombres de los meses corespondientes

* reserved_room_type --> chequear si se puede cubrir con assigned_room_type  ✅
* assigned_room_type --> chequear si se puede curbir con reserved_room_type  ✅

Sin modificaciones
* adr (tarifa diaria, already float)

----------------------------------------------------------------------------------------------------


|nombre columna |Nulos_Porcentaje| porque no??|
|---------------|----------------|------------|
|arrival_date_year|	4.97|  No se como llenarlo|
|arrival_date_week_number|	15.40| el numero de semana es variable y no se me ocurre como llenarlo|
|arrival_date_day_of_month |	0.10| creo que se podria dejar así, cambiandolo por algo que no nos sume|
|children|	41.98| numeros muy raros podriamos poner etiqueta de true y false, o no|
|previous_cancellations	|36.18| etiqueta???? 
|agent |	13.69 | no creo que se pueda rellenar con ninguna exepto si lo ha hecho por internet darle un valor|
|reservation_status_date	|10.82| no se como manejar los nulos de las fechas|

In [45]:
df_pao= df1.copy()

In [46]:
def llenar_nulos_con_unknown(df, lista):
    """
    Rellena los valores NaN en las columnas especificadas con 'unknown'.
    
    Args:
        df (pd.DataFrame): El DataFrame.
        lista (list): Lista de nombres de columnas a rellenar.
    
    Returns:
        pd.DataFrame: El DataFrame actualizado.
    """
    for col in lista:
        df[col].fillna('Unknown', inplace=True)
    return df

In [47]:
llenar_nulos_con_unknown(df_pao,['hotel', 'is_canceled', 'country', 'market_segment', 'customer_type', 'reservation_status'])

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,Resort Hotel,False,342,2015,July,27,1,0,0,2,<NA>,0,BB,PRT,Unknown,Direct,False,<NA>,0,C,C,3,<NA>,<NA>,0,Transient,0.00,0,0,Check-Out,2015-07-01 00:00:00
1,1,Resort Hotel,False,737,<NA>,July,27,1,0,0,2,<NA>,0,BB,Unknown,Unknown,Direct,False,0,0,NaN,C,4,<NA>,<NA>,0,Transient,0.00,0,0,Check-Out,2015-07-01 00:00:00
2,2,Resort Hotel,False,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Unknown,Direct,False,0,0,A,C,0,<NA>,<NA>,0,Transient,75.00,0,0,Check-Out,2015-07-02 00:00:00
3,3,Resort Hotel,False,13,<NA>,July,27,1,0,1,1,<NA>,0,BB,GBR,Corporate,Corporate,False,0,0,A,A,0,304,<NA>,0,Transient,75.00,0,0,Check-Out,2015-07-02 00:00:00
4,4,Resort Hotel,False,14,<NA>,July,<NA>,1,0,2,2,<NA>,0,BB,Unknown,Online TA,TA/TO,False,0,0,A,A,0,240,<NA>,0,Transient,98.00,0,1,Check-Out,2015-07-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,119385,City Hotel,False,23,2017,August,35,30,2,5,2,0,0,BB,Unknown,Offline TA/TO,TA/TO,False,0,0,A,A,0,394,<NA>,0,Unknown,96.14,0,0,Check-Out,2017-06-09 00:00:00
119386,119386,City Hotel,False,102,<NA>,August,35,31,2,5,3,<NA>,0,BB,FRA,Unknown,TA/TO,False,<NA>,0,E,E,0,9,<NA>,0,Transient,225.43,0,2,Check-Out,2017-07-09 00:00:00
119387,119387,City Hotel,False,34,2017,August,35,31,2,5,2,<NA>,0,BB,Unknown,Online TA,TA/TO,False,0,0,NaN,D,0,9,<NA>,0,Transient,157.71,0,4,Check-Out,2017-07-09 00:00:00
119388,119388,City Hotel,False,109,<NA>,August,35,31,2,5,55,0,0,BB,Unknown,Online TA,TA/TO,False,0,0,A,A,0,89,<NA>,0,Transient,104.40,0,0,Check-Out,2017-07-09 00:00:00
119389,119389,City Hotel,False,205,2017,August,35,29,2,7,2,<NA>,0,HB,DEU,Unknown,TA/TO,False,0,0,NaN,A,0,9,<NA>,0,Unknown,151.20,0,2,Check-Out,2017-07-09 00:00:00

In [48]:
def llenar_nulos_con_undefined(df, lista):
    """
    Rellena los valores NaN en las columnas especificadas con 'unknown'.
    
    Args:
        df (pd.DataFrame): El DataFrame.
        lista (list): Lista de nombres de columnas a rellenar.
    
    Returns:
        pd.DataFrame: El DataFrame actualizado.
    """
    for col in lista:
        df[col].fillna('Undefined', inplace=True)
    return df

In [49]:
llenar_nulos_con_undefined(df_pao, ['meal', 'distribution_channel'])

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,Resort Hotel,False,342,2015,July,27,1,0,0,2,<NA>,0,BB,PRT,Unknown,Direct,False,<NA>,0,C,C,3,<NA>,<NA>,0,Transient,0.00,0,0,Check-Out,2015-07-01 00:00:00
1,1,Resort Hotel,False,737,<NA>,July,27,1,0,0,2,<NA>,0,BB,Unknown,Unknown,Direct,False,0,0,NaN,C,4,<NA>,<NA>,0,Transient,0.00,0,0,Check-Out,2015-07-01 00:00:00
2,2,Resort Hotel,False,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Unknown,Direct,False,0,0,A,C,0,<NA>,<NA>,0,Transient,75.00,0,0,Check-Out,2015-07-02 00:00:00
3,3,Resort Hotel,False,13,<NA>,July,27,1,0,1,1,<NA>,0,BB,GBR,Corporate,Corporate,False,0,0,A,A,0,304,<NA>,0,Transient,75.00,0,0,Check-Out,2015-07-02 00:00:00
4,4,Resort Hotel,False,14,<NA>,July,<NA>,1,0,2,2,<NA>,0,BB,Unknown,Online TA,TA/TO,False,0,0,A,A,0,240,<NA>,0,Transient,98.00,0,1,Check-Out,2015-07-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,119385,City Hotel,False,23,2017,August,35,30,2,5,2,0,0,BB,Unknown,Offline TA/TO,TA/TO,False,0,0,A,A,0,394,<NA>,0,Unknown,96.14,0,0,Check-Out,2017-06-09 00:00:00
119386,119386,City Hotel,False,102,<NA>,August,35,31,2,5,3,<NA>,0,BB,FRA,Unknown,TA/TO,False,<NA>,0,E,E,0,9,<NA>,0,Transient,225.43,0,2,Check-Out,2017-07-09 00:00:00
119387,119387,City Hotel,False,34,2017,August,35,31,2,5,2,<NA>,0,BB,Unknown,Online TA,TA/TO,False,0,0,NaN,D,0,9,<NA>,0,Transient,157.71,0,4,Check-Out,2017-07-09 00:00:00
119388,119388,City Hotel,False,109,<NA>,August,35,31,2,5,55,0,0,BB,Unknown,Online TA,TA/TO,False,0,0,A,A,0,89,<NA>,0,Transient,104.40,0,0,Check-Out,2017-07-09 00:00:00
119389,119389,City Hotel,False,205,2017,August,35,29,2,7,2,<NA>,0,HB,DEU,Unknown,TA/TO,False,0,0,NaN,A,0,9,<NA>,0,Unknown,151.20,0,2,Check-Out,2017-07-09 00:00:00

In [50]:
df_pao['is_repeated_guest'].value_counts()# los valores de esta se pueden imputar con la moda, no encuentro una columna que me pueda ayudar a imputarlos de oytra manera????

is_repeated_guest
False    110730
<NA>       5014
True       3646
Name: count, dtype: int64


_¿Cuál es la tasa de cancelación de este hotel?

¿Ha cambiado la tasa de cancelación con el tiempo?

¿Se cancelan más las reservas de verano que de invierno?. ¿Se cancelan más las reservas de entre semana que las de los fines de semana?

Los clientes que cancelan, ¿presentan algún tipo de característica demográfica?

Las reservas que se hacen con mayor anticipación, ¿tienen mucho riesgo de cancelarse?

Las reservas que incluyen hijos, ¿tienen menor riesgo de cancelación?

Los usuarios que realizaron algún cambio en su reserva, ¿tienen menor riesgo de cancelación?

Cuándo el usuario ha realizado una solicitud especial, ¿el riesgo de cancelación es menor?

Las reservas que tienen un “adr” bajo, ¿tienen un riesgo menor de cancelación?

Relación con otras variables: Analizar cómo otras variables, como el tipo de comida incluida en la reserva o el número de solicitudes especiales, están relacionadas con las cancelaciones._

In [54]:
df2["adr"].unique()

array([  0.  ,  75.  ,  98.  , ..., 209.25, 157.71,    nan])

In [53]:
# ADR= Tarifa promedio diaria pagada por la reserva

df2["adr"].describe().T

count    119390.000000
mean        101.831122
std          50.535790
min          -6.380000
25%          69.290000
50%          94.575000
75%         126.000000
max        5400.000000
Name: adr, dtype: float64

In [71]:
df2["adr"]= df2["adr"].abs()

In [72]:
df2["adr"].describe().T

count    119390.000000
mean        101.831228
std          50.535575
min           0.000000
25%          69.290000
50%          94.575000
75%         126.000000
max        5400.000000
Name: adr, dtype: float64

In [68]:
filtrado = df2[(df2['adr'] > 0) & (df2['adr'] <= 20)]
#filtrado = df[df['nombre_de_la_columna'].between(0, 20)]

In [69]:
filtrado

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
388,388,Resort Hotel,False,1.0,NaN,July,29.0,14.0,0.0,1.0,2.0,NaN,0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,2.0,240.0,NaN,0.0,NaN,8.0,0.0,1.0,Check-Out,2015-07-15 00:00:00
1227,1227,Resort Hotel,False,98.0,NaN,August,34.0,19.0,2.0,7.0,2.0,0.0,0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,D,D,0.0,147.0,NaN,0.0,Transient,8.0,0.0,0.0,Check-Out,2015-08-28 00:00:00
1382,1382,Resort Hotel,True,106.0,NaN,August,35.0,27.0,2.0,5.0,2.0,0.0,0,BB,NaN,NaN,TA/TO,0.0,NaN,0.0,A,A,0.0,240.0,NaN,0.0,Transient,8.0,0.0,1.0,Canceled,2015-05-13 00:00:00
1383,1383,Resort Hotel,True,108.0,2015.0,August,35.0,27.0,2.0,5.0,2.0,0.0,0,BB,NaN,NaN,TA/TO,0.0,0.0,0.0,NaN,A,0.0,240.0,NaN,0.0,Transient,8.0,0.0,2.0,Canceled,2015-08-14 00:00:00
1808,1808,Resort Hotel,False,0.0,2015.0,September,38.0,16.0,0.0,1.0,2.0,NaN,0,BB,ESP,NaN,Direct,0.0,NaN,0.0,NaN,C,0.0,NaN,NaN,0.0,Transient,8.0,1.0,0.0,Check-Out,2015-09-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115758,115758,City Hotel,False,65.0,NaN,July,28.0,10.0,1.0,1.0,2.0,2.0,0,BB,NaN,NaN,Direct,0.0,0.0,0.0,E,E,1.0,14.0,NaN,0.0,NaN,18.0,0.0,0.0,Check-Out,2017-12-07 00:00:00
115890,115890,City Hotel,False,274.0,2017.0,July,28.0,12.0,0.0,1.0,2.0,NaN,0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,1.0,9.0,NaN,0.0,Transient,15.0,0.0,2.0,Check-Out,2017-07-13 00:00:00
118200,118200,City Hotel,False,10.0,NaN,August,NaN,12.0,2.0,2.0,0.0,NaN,0,BB,MAR,Direct,Direct,0.0,0.0,0.0,NaN,A,1.0,NaN,NaN,0.0,Transient-Party,6.0,0.0,1.0,Check-Out,2017-08-16 00:00:00
118554,118554,City Hotel,False,59.0,NaN,August,34.0,20.0,2.0,0.0,1.0,0.0,0,BB,NaN,NaN,TA/TO,0.0,0.0,0.0,A,A,1.0,98.0,NaN,0.0,Transient-Party,6.0,0.0,0.0,Check-Out,2017-08-22 00:00:00
119170,119170,City Hotel,False,186.0,NaN,August,35.0,31.0,0.0,3.0,2.0,0.0,0,BB,DEU,NaN,TA/TO,0.0,NaN,0.0,D,D,1.0,9.0,NaN,0.0,Transient,12.0,0.0,2.0,Check-Out,2017-03-09 00:00:00

In [52]:
# Llenar los valores nulos con False (la moda)
df_pao['is_repeated_guest']= df_pao['is_repeated_guest'].astype(str)

df_pao['is_repeated_guest']= df_pao['is_repeated_guest'].replace('<NA>', 0 ).replace('False',0).replace('True',1)

# Convertir la columna a tipo booleano

df_pao['is_repeated_guest'] = df_pao['is_repeated_guest'].astype(bool)

In [53]:
df_pao['is_repeated_guest'].value_counts()

False    115744
True       3646
Name: is_repeated_guest, dtype: int64

In [54]:
def convertir_columnas_a_entero(df, lista_columnas):
    """
    Convierte las columnas especificadas a tipo entero (int).

    Args:
        df (pd.DataFrame): El DataFrame.
        lista_columnas (list): Lista de nombres de columnas a convertir.

    Returns:
        pd.DataFrame: El DataFrame actualizado.
    """
    for col in lista_columnas:
        df[col] = df[col].astype(int)
    return df

In [55]:
# # Convertir la columna a tipo datetime
# df_pao['reservation_status_date'] = pd.to_datetime(df_pao['reservation_status_date'])

# # Extraer solo la fecha
# df_pao['reservation_status_date'] = df_pao['reservation_status_date'].dt.date

# error:day is out of range for month: 2030-02-30

In [56]:
# Convertir las fechas a tipo datetime con manejo de errores
df_pao['reservation_status_date'] = pd.to_datetime(df_pao['reservation_status_date'], errors='coerce') # errors='coerce' para convertir las fechas inválidas a valores nulos (NaN)

# Extraer solo la fecha válida
df_pao['reservation_status_date'] = df_pao['reservation_status_date'].dt.date

# Convertir en tipo date:
df_pao['reservation_status_date'] = pd.to_datetime(df_pao['reservation_status_date'])

df_pao['reservation_status_date']

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
119385   2017-06-09
119386   2017-07-09
119387   2017-07-09
119388   2017-07-09
119389   2017-07-09
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns]

In [57]:
df_pao['reservation_status_date']

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
119385   2017-06-09
119386   2017-07-09
119387   2017-07-09
119388   2017-07-09
119389   2017-07-09
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns]

In [58]:
#Extraer el año solo de las fechas no nulas

df_pao['arrival_date_year'].fillna(df_pao['reservation_status_date'].dt.year, inplace=True)

In [59]:
df_pao['arrival_date_year'].unique()

<IntegerArray>
[2015, <NA>, 2016, 2017, 2014]
Length: 5, dtype: Int64

In [60]:
df_pao.tail(20)

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119370,119370,City Hotel,False,201,2017,August,35,30,1,4,1,0,0,BB,Unknown,Unknown,TA/TO,False,0,0,A,A,0,9,<NA>,0,Transient,108.00,0,2,Check-Out,2017-04-09
119371,119371,City Hotel,False,175,2017,August,35,31,1,3,2,<NA>,0,BB,NLD,Unknown,TA/TO,False,0,0,A,A,1,42,<NA>,0,Transient,86.85,0,2,Check-Out,2017-04-09
119372,119372,City Hotel,False,175,2017,August,35,31,1,3,51,0,0,BB,Unknown,Offline TA/TO,TA/TO,False,<NA>,0,A,A,0,42,<NA>,0,Transient,82.35,0,1,Check-Out,2017-04-09
119373,119373,City Hotel,False,175,2017,August,35,31,1,3,1,0,0,BB,Unknown,Offline TA/TO,TA/TO,False,<NA>,0,A,A,0,42,<NA>,0,Transient,82.35,0,1,Check-Out,2017-04-09
119374,119374,City Hotel,False,201,2017,August,35,29,1,5,2,<NA>,0,BB,DEU,Unknown,TA/TO,False,<NA>,0,A,A,0,9,<NA>,0,Transient,117.00,0,2,Check-Out,2017-04-09
119375,119375,City Hotel,False,200,2017,August,35,30,1,4,2,0,0,BB,AUT,Unknown,TA/TO,False,0,0,A,A,0,16,<NA>,0,Transient,85.50,0,1,Check-Out,2017-04-09
119376,119376,City Hotel,False,165,2017,August,<NA>,29,1,5,3,0,0,BB,AUT,Unknown,TA/TO,False,0,0,NaN,E,0,9,<NA>,0,Unknown,209.25,0,3,Check-Out,2017-04-09
119377,119377,City Hotel,False,185,2017,August,35,30,1,4,2,0,0,SC,CHE,Unknown,TA/TO,False,<NA>,0,A,A,0,9,<NA>,0,Transient,99.00,0,1,Check-Out,NaT
119378,119378,City Hotel,False,247,2017,August,<NA>,31,1,3,2,0,0,BB,GBR,Unknown,TA/TO,False,0,0,NaN,A,0,42,<NA>,0,Transient,86.85,0,0,Check-Out,2017-04-09
119379,119379,City Hotel,False,109,2017,August,35,31,1,3,50,<NA>,0,BB,GBR,Online TA,TA/TO,False,0,0,D,D,0,9,<NA>,0,Unknown,155.00,0,1,Check-Out,2017-04-09
119380,119380,City Hotel,False,44,2017,August,<NA>,31,1,3,2,<NA>,0,SC,Unknown,Unknown,TA/TO,False,0,0,A,A,0,9,<NA>,0,Transient,140.75,0,1,Check-Out,2017-04-09
119381,119381,City Hotel,False,188,2017,August,<NA>,31,2,3,2,0,0,BB,Unknown,Unknown,Direct,False,0,0,A,A,0,14,<NA>,0,Transient,99.00,0,0,Check-Out,2017-05-09
119382,119382,City Hotel,False,135,2017,August,35,30,2,4,3,<NA>,0,BB,JPN,Unknown,TA/TO,False,0,0,G,G,0,7,<NA>,0,Transient,209.00,0,0,Check-Out,2017-05-09
119383,119383,City Hotel,False,164,2017,August,35,31,2,4,2,0,0,BB,DEU,Unknown,TA/TO,False,<NA>,0,NaN,A,0,42,<NA>,0,Transient,87.60,0,0,Check-Out,NaT
119384,119384,City Hotel,False,21,2017,August,<NA>,30,2,5,2,0,0,BB,BEL,Unknown,TA/TO,False,<NA>,0,A,A,0,394,<NA>,0,Transient,96.14,0,2,Check-Out,2017-06-09
119385,119385,City Hotel,False,23,2017,August,35,30,2,5,2,0,0,BB,Unknown,Offline TA/TO,TA/TO,False,0,0,A,A,0,394,<NA>,0,Unknown,96.14,0,0,Check-Out,2017-06-09
119386,119386,City Hotel,False,102,2017,August,35,31,2,5,3,<NA>,0,BB,FRA,Unknown,TA/TO,False,<NA>,0,E,E,0,9,<NA>,0,Transient,225.43,0,2,Check-Out,2017-07-09
119387,119387,City Hotel,False,34,2017,August,35,31,2,5,2,<NA>,0,BB,Unknown,Online TA,TA/TO,False,0,0,NaN,D,0,9,<NA>,0,Transient,157.71,0,4,Check-Out,2017-07-09
119388,119388,City Hotel,False,109,2017,August,35,31,2,5,55,0,0,BB,Unknown,Online TA,TA/TO,False,0,0,A,A,0,89,<NA>,0,Transient,104.40,0,0,Check-Out,2017-07-09
119389,119389,City Hotel,False,205,2017,August,35,29,2,7,2,<NA>,0,HB,DEU,Unknown,TA/TO,False,0,0,NaN,A,0,9,<NA>,0,Unknown,151.20,0,2,Check-Out,2017-07-09

In [61]:
df_pao['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [62]:
df_pao['assigned_room_type'].unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'P', 'L', 'K'],
      dtype=object)

In [69]:
df_pao['assigned_room_type'].fillna(df_pao['reserved_room_type'], inplace=True)

In [63]:
df_pao['reserved_room_type'].fillna(df_pao['assigned_room_type'], inplace=True)

In [74]:
# porcentajes de nulos
porcentaje_null= (df_pao.isnull().sum()/df_pao.shape[0]) *100 # cálculo
nulos_pao= pd.DataFrame(porcentaje_null.round(2), columns = ["Nulos_Porcentaje"]) #convierto a dataframe y redondeo las cifras
display(nulos_pao[nulos_pao["Nulos_Porcentaje"]>0]) #filtro para que solo me muestre las columnas con más de cero nulos.

                           Nulos_Porcentaje
arrival_date_year                      4.97
arrival_date_week_number              15.40
arrival_date_day_of_month              0.10
children                              41.98
previous_cancellations                36.18
agent                                 13.69
reservation_status_date               10.82

In [71]:
df_pao['children'].value_counts().sum() # etiquetas true and false / numeros de mas de 5

69270

In [ ]:
# company muchos nulos 
df_pao = df_pao.drop( 'company', axis=1)

In [73]:
# df_pao.to_csv('df_limpieza_Ra_+_pao.csv')